* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    font-size: 70px;
    background-color: #0c4980;
    color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
header >nav > div > a {
    color: white;
    text-decoration: none;
}
header > nav > div > a:hover{
    transition: 300ms;
    color: orange;
}
.mickey_mouse_image > a > img {
    height: 100px;
body{
    display: flex;
    flex-direction: column;
}

footer {
    order:4;
    border: 5px solid rgb(29, 94, 173);
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    align-items: center;
    background-color: rgb(48, 80, 223);
    color: white;
    display: flex;
    justify-content: space-around;
    height: 50px;
    border-radius: 5%;
}

a:hover {
    background-color: rgb(16, 42, 160);
}

p {
    font-size: 24px;
    
}

figure {
    padding: 20px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
body{
    display: flex;
    flex-direction: column;
}
footer {
    order:4;
    border: 5px solid rgb(29, 94, 173);
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}
ul {
    list-style-type: none;
}
.contatti > a,
.indirizzo > a {
    text-decoration: none;
    align-items: center;
    background-color: rgb(48, 80, 223);
    color: white;
    display: flex;
    justify-content: space-around;
    height: 50px;
    border-radius: 5%;
}

a:hover {
    background-color: rgb(16, 42, 160);
}

p {
    font-size: 24px;
    
}

figure {
    padding: 20px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
figure:hover {
    background-color: rgb(48, 80, 223);
    border-radius: 5px;
}
