* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #bff5fd;
}

header {
    display: flex;
    align-items: center;
    font-size: 70px;
    background-color: #0c4980;
    color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
header >nav > div > a {
    color: white;
    text-decoration: none;
}
header > nav > div > a:hover{
    transition: 300ms;
    color: orange;
}
.mickey_mouse_image > a > img {
    height: 100px;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #bff5fd;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    padding-bottom: 0px;
}
.title_menu {
    font-size: 36px;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
p {
    font-size: 24px;
}
footer {
    border: 5px solid rgb(29, 94, 173);
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}
.contatti > a,
.indirizzo > a {
    text-decoration: none;
    align-items: center;
    background-color: rgb(48, 80, 223);
    color: white;
    display: flex;
    justify-content: space-around;
    height: 50px;
    border-radius: 5%;
}
figure {
    padding: 20px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 50%;
}
figure >a {
    border-radius: 50%;
}
figure > a:hover {
    background-color: rgb(48, 80, 223);
    transition: 300ms;
}
.central {
    display: flex;
}
#sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* width: 20%; */
    background-color: #A5DCE5;
    height: 100vh;
    /* flex: 1; */
}
.ul-sidebar > li > a{
    text-decoration: none;
    color: black;
    display: inline-block;
    font-size: 28px;
}
.ul-sidebar > li > a:hover{
    color:white;
    transition: 300ms;
}
.ul-sidebar > li{
    margin: 0 75px 75px 0; 
}
.desc{
    color: white;
}
.menu_voices > li {
    padding: 5vh;
    font-size: 24px;
}
/* .menu_voices > .li_last {
    padding-bottom: 0px;
} */